// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #header {
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  height: 25px;
  background-color: #F38630;
  margin-bottom: 5px;
  text-align: center;
}
#state_options{
  width: 400px;
  float: left
}
#station_options {
  width: 950px;
  float: right
}

#plot_window {
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  width: 900px;
  min-height: 480px;
  max-height: 550px;
  float: left;
  text-align: center;
}
#windrose {
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 910px;
  margin-top: 30px;
  height: 420px;
  width: 430px
}
