// Place all the styles related to the stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #header {
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  height: 30px;
  background-color: #F38630;
  margin-bottom: 5px;
  text-align: center;
}
#station_options {
  width: 600px;
}

#plot_window {
  border: 2px solid black;
  border-radius: 5px;
  display: block;
  width: 920px;
  min-height: 480px;
  max-height: 550px;
  float: left;
  text-align: center;
}
#container {
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 940px;
  height: 400px;
  width: 370px
}

#observed_windrose{
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 1060px;
  height: 250px;
  width: 250px
}
