<!DOCTYPE html>
<html>
<head>
  <title>Adam J B </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
all of YOUR base, belongs to me now.
<body>

<%= yield %>

</body>
</html>
